@model DataGopi.Models.Mall

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IsEntertainable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEntertainable)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsPlayStore)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsPlayStore)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsTheater)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTheater)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.MallId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
