@model IEnumerable<DataGopi.Models.Mall>

@{
    ViewData["Title"] = "Index";
}

<h2>Malls</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsEntertainable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPlayStore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTheater)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsEntertainable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsPlayStore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsTheater)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.MallId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.MallId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.MallId">Delete</a>
        </td>
    </tr>
}
</table>
